.book {
  border-style: solid;
  border-color: #EEEEEE;
  padding: 5px 15px;
  background-color: white;
  border-radius: 5px;
  border-width: thin;
  border-left-color: #FF9800;
  border-left-width: 5px;
  box-shadow: 0px 3px 2px rgba(0,0,0,0.1);
}

.book__title {
  color: #303F9F;
}

.book_details {
  color: #3F51B5;
  list-style-type: none;
  margin: 0;
  padding: 0 0 15px 0;
}