.search {  
  max-width: 600px;
  border-bottom: solid;
  border-color: #BDBDBD;
  border-width: thin;
  display: flex;

  input {
    width: 100%;
    max-width: 600px;
    height: 40px;
    border: none;
    background-color: #F5F5F5;
  }  
}